*{
    margin: 0;
    padding: 0;
}
.font{
font-family: 'PT Serif', serif;
}
#grad{
    font-size: 50px;
  background: -webkit-linear-gradient(#002244, #2a52be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#cc{
    background-color:#029ECF;
}
.rounded-border{
    border-radius: 50%;
}
form{
    background-color: #b3e6ff;
}
input[type=text],input[type=file],input[type=email],input[type=password]{
    background-color: transparent;
    border-color:white ;
}
input{
   border-color:#002244 ;
}
/* body{
    overflow-x:hidden ;
} */